*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

img {
  /* display: block;
  vertical-align: middle; */
  max-width: 100%;
  height: auto;
}

div[class*="size-controller"] {
  height: 100%;
  margin: auto;
  padding: 0 75px;
  max-width: 1440px;
}

.reads {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 75px 0;
}

.references {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 75px 0;
}

.books {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 480px;
  max-width: 480px;
}

.book-link {
  padding: 10px;
  border-radius: .6rem;
}

.book {
  max-width: 150px;
  box-shadow: 0 0 5px 2px rgba(239, 239, 240, 1);
}

.recommends {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  min-width: 480px;
  max-width: 480px;
}

.recommends span:last-of-type {
  font-size: 1.5rem;
}

.references {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.credits-table {
  width: 992px;
  max-width: 992px;
  font-size: 1.5rem;
}

.credits-table thead tr th:first-of-type {
  width: 30%;
}

.credits-table thead tr th:last-of-type {
  width: 70%;
}

.credits-table th {
 padding: .6rem;
 border-bottom: 2px solid rgba(239, 239, 240, 1);
 text-align: left;
}

.credits-table td {
  padding: .9rem;
  border-bottom: 2px solid rgba(239, 239, 240, 1);
}

.asset {
  /* padding: .2em .5em;
  border-radius: 100px;
  border: 1px solid #014751; */
  font-size: 1.3rem;
}

.reference-link {
  padding: .2em .5em;
  border-radius: 100px;
  border: 2px solid #014751;
  /* background-color: #445d65; */
  /* background-color: #014751; */
  transition: all .2s ease-in 0s;
  font-size: 1.3rem;
}

.reference-link:hover {
  background-color: #445d65;
  border-color: #445d65;
  color: white;
}

/* Hero */

.hero-container {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {

}
.hero-img {
  width: 480px;
  border-radius: 1000px;
}